VITE_POCKETBASE_URL=http://127.0.0.1:8090
VITE_LIVEKIT_URL=ws://localhost:7880
VITE_YJS_WS_URL=ws://localhost:1234

LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secretsecretsecretsecretsecretsecret

VITE_MAX_FILE_SIZE_MB=25
VITE_MAX_TOTAL_SIZE_MB=100
VITE_MAX_ATTACHMENTS=10
VITE_MAX_MESSAGE_LENGTH=2000
