@import "tailwindcss";

@plugin "daisyui" {
  themes: all;

}

@plugin "daisyui/theme" {
  name: "oxy-dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(0% 0 0);
  --color-base-300: oklch(20% 0.042 265.755);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(42% 0.199 265.638);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(45% 0.211 324.591);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(44% 0.119 151.328);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(27% 0.033 256.848);
  --color-neutral-content: oklch(92% 0.006 264.531);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(90% 0.058 230.902);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(95% 0.052 163.051);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(97% 0.071 103.193);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(88% 0.062 18.334);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "oxy-light";
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.007 247.896);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(70% 0.165 254.624);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(74% 0.238 322.16);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(86% 0.022 252.894);
  --color-neutral-content: oklch(37% 0.044 257.287);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(44% 0.11 240.79);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(44% 0.177 26.899);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}
